<div style="margin-left: 31px;">
	<h3>Welcome to Super Bowl Prop Bet Site</h3>
	<p><% link_to 'Users:', users_path %> <% User.count %> </p>
	<p>Please <%= link_to('Register', new_user_registration_path) %> to create a Prop Bet Sheet </p>
	<p> If already registered, please <%= link_to('Sign In', new_user_session_path) %> </p>
	<br /> 

	<p> If you want to play, pay via the following methods </p>
	<p> Paypal $20 to: ravneetjohal@gmail.com </p> 
	<p> OR </p>
	<p> Venmo $20 to @rav-johal </p> 

<br /> 

	<p> Creation/Editing will be locked 30 minutes before Super Bowl Kicks off on Sunday, Feb 5th </p>
	<br /> 
	<h3> Past winners: </h3>
	<p>	Prab (Super Bowl 48 - 2014) </p>
	<p>	Rob (Super Bowl 49 - 2015) </p>
	<p>	Googz (Super Bowl 50 - 2016) </p>
	<p> ????  (Super Bowl 51 - 2017) </p>
</div>