<div style="margin-left: 31px;">
	<h2>Welcome to Super Bowl Prop Bet Site</h2>
	<p><% link_to 'Users:', users_path %> <% User.count %> </p>
	<p>If you have not registered, Please <%= link_to('Sign Up', new_user_registration_path) %> and create a Prop Bet Sheet </p>
	<p> If already registered, please <%= link_to('Sign In', new_user_session_path) %> </p>
	<br /> 

	<h2> PAYMENT </h2>
	<p> If you want to play, pay via the following methods </p>
	<p> <b> Venmo $20 to @rav-johal  </p> 
	<p> OR </p>
	<p> Paypal $20 to: ravneetjohal@gmail.com </b></p> 

<br /> 

	<h2> PAST WINNERS: </h2>
	<p> <h5> Super Bowl 54 (2020) Prop Winners: </h5> </p>
	<p> 1st place: Ted-Raiders2021Champs ($600) </p>
	<p> 2nd place: Prab ($150) </p>
	<p> 3rd place: Honay Thiara ($70) </p>
<br />
	<p> <h5> Super Bowl 53 - 2019: </h5> </p>
	<p> 1st Place: Jason T and Sham</p>
	<p> 2nd Place (Tied): S. Bassi and Sunny D</p>
<br />
	<p> <h5> Super Bowl 52 - 2018: </h5> </p>
	<p> 1st Place: Jason T </p>
	<p> 2nd Place (Tied): Teji, Raj Sull, Jogi Chahal </p>

<br />
	<p> <h5> Super Bowl 51 - 2017: </h5> </p>
	<p> 1st Place: Jason T </p>
	<p> 2nd Place: Maninder </p>
	<p> 3rd Place: Bao </p>
<br />
<b>
	<p>	Amarjit (Super Bowl 50 - 2016) </p>
	<p>	Rob (Super Bowl 49 - 2015) </p>
	<p>	Prab (Super Bowl 48 - 2014) </p>
</b>

</div>