<div style="margin-left: 31px;">
	<h3>Welcome to Super Bowl Prop Bet Site</h3>
	<p><% link_to 'Users:', users_path %> <% User.count %> </p>
	<p>Please <%= link_to('Sign Up', new_user_registration_path) %> to create a Prop Bet Sheet </p>
	<p> If already registered, please <%= link_to('Sign In', new_user_session_path) %> </p>
	<br /> 

	<p> If you want to play, pay via the following methods </p>
	<p> <b> Paypal $20 to: ravneetjohal@gmail.com </p> 
	<p> OR </p>
	<p> Venmo $20 to @rav-johal </b></p> 

<br /> 

	<p> Creation/Editing will be locked 10 minutes before Super Bowl Kicks off </p>
	<br /> 
	<h3> Past winners: </h3>
	<p> <h5> Super Bowl 52 - 2018: </h5> </p>
	<p> 1st Place: Jason T </p>
	<p> 2nd Place (Tied): Teji, Raj Sull, Jogi Chahal </p>

<br />
	<p> <h5> Super Bowl 51 - 2017: </h5> </p>
	<p> 1st Place: Jason T </p>
	<p> 2nd Place: Maninder </p>
	<p> 3rd Place: Bao </p>
<b>
	<p>	Amarjit (Super Bowl 50 - 2016) </p>
	<p>	Rob (Super Bowl 49 - 2015) </p>
	<p>	Prab (Super Bowl 48 - 2014) </p>
</b>

</div>